@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Bold.eot');
    src: url('/fonts/SFProDisplay-Bold.svg') format('embedded-opentype'),
        url('/fonts/SFProDisplay-Bold.ttf') format('woff2'),
        url('/fonts/SFProDisplay-Bold.woff') format('woff'),
        url('/fonts/SFProDisplay-Bold.woff') format('truetype'),
        url('/fonts/SFProDisplay-Bold.woff2') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}